<div class="item_ranking" >
<%#= @select_have_want %>
<% 10.times do |i| %>
    <% if @want_user_list.count.to_i - 1 == i %>
        <% break %>
    <% end %>
    <% item = Item.find_by(id: @want_user_list[i][0]) %>
    <div class="row">
        <div class="col-md-2">
            <div class="rank-no">
            <%= i+1 %>位
            </div>
        </div>
        <div class="col-md-4">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            
            <% if item.medium_image == nil %>
              <% image_pic = "no-image.png" %>
            <% else %>
              <% image_pic = item.large_image %>
            <% end %>
            
            <%= image_tag(image_pic , alt: item.title) %>
    
          </div>
        </div>
        
        <div class="col-md-6">
            <div class="detail">
                <div>
                    <%= item.title %>
                </div>
                <div>
                    件数：<%= @want_user_list[i][1] %>
                </div>
            </div>
        </div>
    </div>
    <hr />
<% end %>
</div>
